/* base styles */
* {
  margin: 0;
  font-family: 'Zilla Slab', serif;
  color: #333;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 650px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  white-space: nowrap;
}
.navbar h1 {
  color: #216dc4;
  font-family: 'Zilla Slab Highlight', cursive;
}
.navbar .links {
  margin-left: auto;
}
.navbar span {
  /* margin-left: 16px; */
  text-decoration: none;
  padding: 6px;
  /* padding: 6px; */
}

.navbar .inverted {
  color: white;
  padding: 6px;
  background-color: #216dc4;
  border-radius: 8px;
  margin: 0 0.5rem;
}
.content {
  max-width: 650px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #216dc4;
  margin-bottom: 8px;
}

.blog-preview a {
  text-decoration: none;
}

.loading {
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #216dc4;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #216dc4;
  color: #fff;
  border: 0;
  padding: 8px;
  margin: 1rem;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #216dc4;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #216dc4;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* LoginOrRegister component */

.form-container {
  display: grid;
  place-items: center;
  margin: 0 auto;
  text-align: center;
}

.form-field {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 200;
  background-color: #ecf0f1;
  border: 2px solid transparent;
  border-radius: 3px;
  padding: 10px 0;
  width: 300px;
  transition: border 0.5s;
  margin: 5px;
}

.button {
  background-color: rgb(2, 190, 2);
  font-size: 1rem;
}

.button:hover {
  background-color: rgb(2, 168, 2);
  cursor: pointer;
}

.line-break {
  white-space: pre-wrap;
}

/* dropdown navbar */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 0.7rem 0.5rem;
  z-index: 1;
  /* text-decoration: underline; */
  font-weight: bold;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  padding: 1rem;
}

.dropdown:hover .dropdown-content > * {
  padding: 5px 0;
}

/* blog info */
.blog-info {
  text-align: right;
  padding: 2rem;
}
